<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spencer's Super Duper Blog Site</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="page.js" type="module"></script>
    <script src="__lightserver__/reload-client.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/mini.global.js"></script>
    <link rel="stylesheet" href="spencersuperstylesheet.css">
</head>
<body id="app">
    <header>
        <nav class="header-bar">
            <h1>Spencer's AMAZINGNESS Blog Site</h1>
            <a class="nav-link" href="#blog-posts-title">Top Posts</a>
            <a class="nav-link" href="#" onclick="showArchivePopup()">Archive</a>
            <a class="nav-link" href="#about-me">About Me</a>
        </nav>
    </header>
    <main>
        <h2 id="blog-posts-title" class="text-center">Blog Posts</h2>
        <section v-for="post in posts">
            <h2>{{ post.title }}</h2>
            <p>{{ post.published }}</p>
            <div>
                <p v-for='line in post.body.split("\n")'>{{ line }}</p>
            </div>
        </section>
        <section id="about-me">
            <h2 id="aboutmetitle" class="text-center">About Me</h2>
            <p>Spencer Jackson is more than a programmer. In fact, he is the <i>only</i> programmer. In 1987, he was bitten by a radioactive laptop, and the rest is history. Spencer, now known as computerman, has invented every single operating system known to humankind, can divide by zero, and even knows how to exit vim.</p>
        </section>
    </main>
    <footer>
        Copyright &copy; {{ new Date().getFullYear() }} Hunter Henrichsen. All Rights Reserved.
    </footer>
</body>
</html>

<script>
    function showArchivePopup() {
        alert('So sorry about this, but when posts are deleted we actually just yeet them into the nether. Sorry about that. There is no easter bunny, there is no tooth fairy and there is no archive.');
    }
</script>